.header {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  transition: text-shadow 0.3s ease;
}

.title:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}
